@import "/src/styles/main";

.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  position: initial;
}

.savedPlacesWrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonWrapper {
  padding: 16px 24px 0;
}
