@import "/src/styles/main";

.resultCardWrapper {
  position: relative;
  height: 116px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  gap: 24px;
  background-color: color("white/default");
  border: 1px solid color("black/default");
  box-shadow: 0 4px 0 rgb(19 17 24 / 10%);
  border-radius: 12px;

  &::after {
    content: " ";
    position: absolute;
    inset: 0;
    overflow: hidden;
    opacity: 0;
    border-radius: 12px;
  }

  &:active::after {
    background-color: color("black/default");
    opacity: 0.08;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::after {
      background-color: color("black/default");
      opacity: 0.04;
    }
  }

  &:active {
    transform: translate(0, 4px);
    box-shadow: 0 4px 0 color("transparent");
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    .title {
      word-break: break-all;
      overflow-wrap: break-word;
      text-overflow: ellipsis;
      display: -webkit-inline-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include text("body 1/600", "black/default");
    }

    .description {
      word-break: break-all;
      overflow-wrap: break-word;
      text-overflow: ellipsis;
      display: -webkit-inline-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include text("body 1/500", "gray/primary");
    }
  }

  .thumbnail {
    width: 84px;
    height: 84px;
    min-height: 84px;
    min-width: 84px;
    background-color: color("gray/tertiary");
    border-radius: 12px;
  }
}
