@import "/src/styles/main";

.placeDetailContentsWrapper {
  background-color: color("white/default");
  max-width: 430px;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: auto;
  padding-bottom: 120px;

  .placeDetailBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    margin-top: 120px;
    position: relative;

    .bodyHeader {
      text-align: center;
      word-break: keep-all;
      overflow-wrap: anywhere;
      margin-bottom: 80px;
      padding: 0 16px;
      position: absolute;
      top: -120px;
      z-index: var(--detail-window-title-z-index);

      @include text("display/700", "black/default");
    }

    .ratingWrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 40px;

      .ratingText {
        user-select: none;
        position: absolute;
        top: 16px;

        @include text("display/700", "black/default");
      }
    }

    .recommendDescription {
      text-align: center;
      white-space: pre-wrap;
      margin: 40px 0;

      @include text("title 3/600", "black/default");
    }
  }

  .loading {
    padding: 16px;
  }


  .headerButtonWrapper {
    position: sticky;
    top: 0;
    display: inline-block;
    z-index: var(--detail-window-header-z-index);

    &.closeButtonWrapper {
      left: 16px;
    }

    &.archiveButtonWrapper {
      left: calc(100% - 96px);
    }

    &.shareButtonWrapper {
      left: calc(100% - 56px);

      .shareIcon {
        path {
          fill: color("black/tertiary");
        }
      }
    }
  }
}

.resultWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 24px 40px;
  width: 100%;
}

.reviewWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  width: 100%;
}

.reviewAccordionWrapper {
  width: calc(100% + 32px);
}

.buttonWrapper {
  z-index: var(--detail-window-google-link-button-z-index);
  position: fixed;
  bottom: 40px;
  width: 100%;
  max-width: 430px;
  display: flex;
  justify-content: center;
}
