@import '/src/styles/main';

.buttonWrapper {
  position: relative;
  transform: translate(0, 0);
  user-select: none;
  overflow: hidden;
  transition:
    color 0.1s ease-in-out,
    background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  color: color('black/default');
  border: 2px solid color('black/default');
  border-radius: 100px;

  &::after {
    content: ' ';
    position: absolute;
    inset: -2px;
    border-radius: 100px;
  }

  &:not(:disabled)::after {
    opacity: 0;
  }

  &:not(:disabled, .disabled).floating:active {
    transform: translate(0, 4px);
    box-shadow: 0 4px 0 color('transparent');
  }

  &:not(:disabled, .disabled).hasPseudoSelectorStyle:active::after {
    background-color: color('black/default');
    opacity: 0.08;
  }

  &:disabled::after {
    background-color: color('white/default');
    opacity: 0.48;
  }

  &:disabled {
    overflow: initial;
  }

  @media (hover: hover) and (pointer: fine) {
    &:not(:disabled, .disabled).hasPseudoSelectorStyle:hover::after {
      background-color: color('black/default');
      opacity: 0.04;
    }
  }
}

.hasIcon.small {
  color: currentcolor;
  border: none;
  border-radius: 100px;
  padding: 6px;
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;

  & > svg {
    width: 16px;
    height: 16px;
    min-height: 16px;
    min-width: 16px;
  }
}

.hasIcon.medium {
  color: currentcolor;
  border: none;
  border-radius: 100px;
  padding: 8px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;

  & > svg {
    width: 24px;
    height: 24px;
    min-height: 24px;
    min-width: 24px;
  }
}

.floating {
  box-shadow: 0 4px 0 color('black/shadow');
}

:not(.hasIcon).medium {
  height: 56px;
  padding: 4px 24px;

  @include text('headline 2/600');
}

:not(.hasIcon).small {
  height: 40px;
  padding: 0 24px;

  @include text('title 2/600');
}

.ghost {
  background-color: transparent;
}

.highlight {
  background-color: color('highlight/default');
}

.danger {
  background-color: color('danger/default');
}

.positive {
  background-color: color('positive/default');
}

.done {
  background-color: color('done/default');
}

.active {
  background-color: color('active/default');
}

.attention {
  background-color: color('attention/default');
}

.relate {
  background-color: color('relate/default');
}
