@import "/src/styles/main";

.savedPlacesWrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;

  .savedPlaceItem {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &:not(:last-of-type) {
      border-bottom: 1px solid color('gray/tertiary');
    }

    .photos {
      display: flex;
      flex-flow: row nowrap;
      gap: 12px;
      overflow-y: auto;
      margin-right: -24px;

      .photo {
        border-radius: 8px;
        min-width: 160px;
        min-height: 160px;

        &:last-of-type {
          margin-right: 24px;
        }
      }
    }

    .placeInfoWrapper {
      display: flex;
      flex-direction: column;
      gap: 6px;
      width: 100%;

      .placeName {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        @include text('title 1/600', 'black/default');
      }

      .placeRatingWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        .placeRating {
          @include text('title 3/600', 'black/default');
        }

        .placeUserRatingsTotal {
          @include text('title 3/500', 'black/secondary');
        }
      }

      .addressInfo {
        display: flex;
        flex-direction: row;
        gap: 6px;

        @include text('title 3/500', 'black/secondary');

        .nation, .distance {
          min-width: fit-content;
        }

        .address {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
