@import "/src/styles/main";

.placeDetailWindowWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  z-index: var(--place-detail-window-z-index);
  display: flex;
  align-items: center;
  justify-content: center;
}
