@import "/src/styles/main";

.menuWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 8px 24px 80px;
  height: 100%;

  .loginMenu {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 8px 0;
    align-items: center;
    border: none;
    background-color: color("white/primary");

    .profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      flex: 1 0 0;

      .name {
        @include text("title 1/600", "black/default");
      }

      .image {
        border-radius: 48px;
        border: 1px solid color("gray/bg");
      }
    }

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  .logoutButton {
    border: none;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: color("white/primary");
    
    .logoutIcon {
      width: 12px;
      height: 12px;

      path {
        fill: color('gray/primary');
      }
    }

    @include text('title 3/600', 'gray/primary');
  }

  .contents {
    display: flex;
    padding: 64px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: color('black/bg');
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;

    @include text('body 1/500', 'black/secondary');
  }
}
