@import '/src/styles/main';

.inputWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
  width: calc(100% - 32px);

  .suffixIconWrapper {
    display: flex;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
  }

  .prefixIconWrapper {
    cursor: pointer;
    position: absolute;
    display: flex;
    top: 16px;
    left: 20px;
  }

  .input {
    @include text('headline 3/500', 'black/default');

    letter-spacing: -0.012em;
    background: color('white/default');
    outline: none;
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 60px;
    border: 2px solid color('black/default');
    border-radius: 56px;

    &.blur {
      padding: 12px 20px 12px 60px;
    }

    &.visibleShadow {
      box-shadow: 0 4px 0 rgb(19 17 24 / 16%);
    }

    &::placeholder {
      color: color('black/placeholder');
    }

    &:focus {
      caret-color: color('active/default');
    }
  }

  &:focus-within {
    & div > svg.searchIcon > path {
      fill: color('active/default');
    }
  }

  ::selection {
    background: color('active/secondary');
  }
}

.iconButton {
  display: flex;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
