@import "/src/styles/main.scss";

.title {
  display: flex;
  margin-top: 24px;
  margin-bottom: 8px;
}

.searchTermWrapper {
  & > :not(div:first-of-type) {
    border-top: 1px solid color("black/default");
  }
}

.searchTerm {
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  display: flex;
  padding: 14px 0;
  gap: 12px;

  @include text("title 1/600", "black/default");

  .recentSearchText {
    width: 100%;
  }

  .closeIcon {
    path {
      fill: color("black/secondary");
    }
  }
}

.searchTerm:hover:not(:has(.button:hover)) {
  &:active {
    background-color: color("black/active");
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: color("black/hover");
    }
  }
}
