@import "/styles/main.scss";

.searchTerm {
  cursor: pointer;
  flex-direction: column;
  display: flex;
  padding: 14px 0;
  gap: 4px;
  border-top: 1px solid color("black/default");

  & > div:first-of-type {
    @include text("title.large/600");
  }

  & > div:last-of-type {
    @include text("title.small/500", "gray.500");
  }
}
