@import "/styles/main.scss";

.title {
  display: flex;
  margin-top: 24px;
  margin-bottom: 8px;
}

.searchTerm {
  cursor: pointer;
  flex-direction: column;
  display: flex;
  padding: 14px 0;
  gap: 4px;
  border-top: 1px solid color("black/default");

  & > div:first-of-type {
    @include text("title 1/600", "black/default");
  }

  & > div:last-of-type {
    @include text("title 3/500", "black/secondary");
  }
}
