@import '/src/styles/main';

.currentLocationButtonWrapper {
  width: 100%;
  position: relative;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  max-width: 430px;

  .navigationButton {
    padding: 20px;
    right: 16px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid color('black/default');
    background-color: color('white/default');
    box-shadow: 0 4px 0 0 rgb(19 17 24 / 10%);

    &.loading {
      padding: 16px;
    }

    &:not(:disabled)::after {
      content: ' ';
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
      border-radius: 100px;
    }

    @media (hover: hover) and (pointer: fine) {
      &:not(:disabled):hover::after {
        background-color: color('black/default');
        opacity: 0.04;
      }
    }

    &:not(:disabled):active::after {
      background-color: color('black/default');
      opacity: 0.08;
    }
  }
}
