@import "/src/styles/main.scss";

.reviewCardWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;

  &.separator {
    border-bottom: 1px solid color("black/tertiary");
  }

  .review {
    @include text("title 3/500", "black/default");
  }

  .authorInfoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;

    .authorInfo {
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      .authorReview {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        flex: 1 0 0;

        .authorName {
          @include text("title 3/600");
        }

        .rating {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;

          .createdAt {
            word-break: break-all;
            overflow-wrap: break-word;
            text-overflow: ellipsis;
            display: -webkit-inline-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            @include text("body 1/500", "gray/default");
          }
        }
      }
    }
  }

  .localReview {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: 16px;
    border: 1px solid color("black/default");
    background-color: color("highlight/default");
    text-align: center;
    min-width: fit-content;
    user-select: none;
    @include text("body 1/600");
  }
}

.resultCardWrapper {
  position: relative;
  height: 116px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  gap: 24px;
  background-color: color("white/default");
  border: 1px solid color("black/default");
  box-shadow: 0px 4px 0px rgba(19, 17, 24, 0.1);
  border-radius: 12px;

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    border-radius: 12px;
  }

  &:active:after {
    background-color: color("black/default");
    opacity: 0.08;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:after {
      background-color: color("black/default");
      opacity: 0.04;
    }
  }

  &:active {
    transform: translate(0px, 4px);
    box-shadow: 0px 4px 0px color("transparent");
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    .title {
      word-break: break-all;
      overflow-wrap: break-word;
      text-overflow: ellipsis;
      display: -webkit-inline-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include text("body 1/600", "black/default");
    }

    .description {
      word-break: break-all;
      overflow-wrap: break-word;
      text-overflow: ellipsis;
      display: -webkit-inline-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include text("body 1/500", "gray/primary");
    }
  }

  .thumbnail {
    width: 84px;
    height: 84px;
    min-height: 84px;
    min-width: 84px;
    background-color: color("gray/tertiary");
    border-radius: 12px;
  }
}
