@import "/styles/main.scss";

.placeDetailWindowWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--place-detail-window-z-index);
  display: flex;
  align-items: center;
  justify-content: center;

  .placeDetailContentsWrapper {
    background-color: color('white/default');
    min-height: calc(var(--vh, 1vh) * 100);
    max-width: 430px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}