@import "/styles/main.scss";

.placeList {
  margin: 0px;
  padding: 0px;
}

.zeroResultBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 24px;

  & > div:first-of-type {
    @include text("title.large/600", "black");
  }
}
