@import "/styles/main.scss";

.resultCardWrapper {
  position: relative;
  height: 116px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  gap: 24px;
  background-color: color("white/default");
  border: 1px solid color("black/default");
  box-shadow: 0px 4px 0px rgba(19, 17, 24, 0.1);
  border-radius: 12px;

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    border-radius: 12px;
  }

  &:active:after {
    background-color: color("black/default");
    opacity: 0.08;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:after {
      background-color: color("black/default");
      opacity: 0.04;
    }
  }

  &:active {
    transform: translate(0px, 4px);
    box-shadow: 0px 4px 0px color("transparent");
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    .title {
      @include text("body 1/600", "black/default");
    }

    .description {
      @include text("body 1/500", "gray/primary");
    }
  }

  .thumbnail {
    width: 84px;
    height: 84px;
    min-height: 84px;
    min-width: 84px;
    background-color: color("gray/tertiary");
    border-radius: 12px;
  }
}
