@import '/src/styles/main';

.toastContainer {
  position: fixed;
  bottom: 112px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: var(--toast-z-index);
  user-select: none;
}

.toastIcon {
  min-width: 32px;
  min-height: 32px;
}

.toastMessage {
  @include text('title 2/600', 'white/default');

  padding: 3px 12px;
  max-width: 350px;
  overflow-wrap: break-word;
}

.toastBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: color('black/primary');
  border: 2px solid color('black/tertiary');
  box-shadow: 0 4px 0 rgb(19 17 24 / 10%);
  border-radius: 48px;
  padding: 8px;
  width: fit-content;
  max-width: 430px;
}
