@import "/src/styles/main.scss";

.placeDetailWindowWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--place-detail-window-z-index);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .placeDetailContentsWrapper {
    background-color: color("white/default");
    max-width: 430px;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .placeDetailBody {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 16px;
      margin-top: 136px;
      position: relative;

      .bodyHeader {
        text-align: center;
        word-break: keep-all;
        overflow-wrap: anywhere;
        margin-bottom: 80px;
        position: absolute;
        top: -136px;
        z-index: var(--detail-window-title-z-index);

        @include text("display/700", "black/default");
      }

      .placeImageWrapper {
        position: relative;
        max-width: 382px;
        max-height: 382px;
        width: 100%;
        height: 100%;

        .placeImage {
          width: 100%;
          height: 100%;
          max-height: 382px;
          max-width: 382px;
          border-radius: 50%;
          object-fit: cover;
          aspect-ratio: 1/1;
        }
      }

      .ratingWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40px;

        .ratingText {
          user-select: none;
          position: absolute;
          top: 16px;

          @include text("display/700", "black/default");
        }
      }

      .recommendDescription {
        text-align: center;
        white-space: pre-wrap;
        margin: 40px 0;

        @include text("title 3/600", "black/default");
      }
    }

    .loading {
      padding: 16px;
    }

    .header {
      position: relative;
      z-index: var(--detail-window-header-z-index);
      height: 40px;
      width: 100%;

      .headerContentsWrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        padding: 0 16px;
        max-width: 430px;

        .shareIcon {
          path {
            fill: color("black/tertiary");
          }
        }
      }
    }
  }
}

.resultWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 24px 40px 24px;
  width: 100%;
}

.reviewWrapper {
  display: flex;
  flex-direction: column;
  padding: 8px 0 40px 0;
  width: 100%;
}

.reviewAccordionWrapper {
  width: calc(100% + 32px);
}
