@import "./_variables.scss";
@import "./mixin/text.scss";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

* {
  box-sizing: border-box;
}

div,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
