:root {
  /* white */
  --dt-white: #ffffff;

  /* black */
  --dt-black: #131118ff;
  --dt-black-alpha-096: #131118f5;
  --dt-black-alpha-088: #131118e0;
  --dt-black-alpha-080: #131118cc;
  --dt-black-alpha-072: #131118b8;
  --dt-black-alpha-064: #131118a3;
  --dt-black-alpha-056: #1311188f;
  --dt-black-alpha-048: #1311187a;
  --dt-black-alpha-040: #13111866;
  --dt-black-alpha-032: #13111852;
  --dt-black-alpha-024: #1311183d;
  --dt-black-alpha-020: #13111833;
  --dt-black-alpha-018: #1311182e;
  --dt-black-alpha-016: #13111829;
  --dt-black-alpha-014: #13111824;
  --dt-black-alpha-012: #1311181f;
  --dt-black-alpha-010: #1311181a;
  --dt-black-alpha-008: #13111814;
  --dt-black-alpha-006: #1311180f;
  --dt-black-alpha-004: #1311180a;
  --dt-black-alpha-002: #13111805;

  /* gray */
  --dt-gray-000: #fdfcfd;
  --dt-gray-100: #f4f2f4;
  --dt-gray-200: #e9e8ea;
  --dt-gray-300: #dcdbdd;
  --dt-gray-400: #c8c7cb;
  --dt-gray-500: #908e96;
  --dt-gray-600: #6f6e77;
  --dt-gray-700: #504f57;
  --dt-gray-800: #34343a;
  --dt-gray-900: #1a1523;

  /* purple */
  --dt-purple-000: #fdfcfe;
  --dt-purple-100: #f5f2ff;
  --dt-purple-200: #E1DDFE;
  --dt-purple-300: #C4BAFD;
  --dt-purple-400: #9487F8;
  --dt-purple-500: #6B56F0;
  --dt-purple-600: #523ACB;
  --dt-purple-700: #41319B;
  --dt-purple-800: #382E76;
  --dt-purple-900: #211943;

  --dt-font-weight-400: 400;
  --dt-font-weight-500: 500;
  --dt-font-weight-600: 600;
  --dt-font-weight-700: 700;
  --dt-display-font-size: 36px;
  --dt-display-line-height: 44px;
  --dt-headline-font-size: 24px;
  --dt-headline-line-height: 32px;
  --dt-largeTitle-font-size: 22px;
  --dt-largeTitle-line-height: 28px;
  --dt-mediumTitle-font-size: 20px;
  --dt-mediumTitle-line-height: 24px;
  --dt-smallTitle-font-size: 18px;
  --dt-smallTitle-line-height: 24px;
  --dt-largeBody-font-size: 16px;
  --dt-largeBody-line-height: 20px;
  --dt-mediumBody-font-size: 14px;
  --dt-mediumBody-line-height: 20px;
  --dt-smallBody-font-size: 13px;
  --dt-smallBody-line-height: 20px;
}
