:root {
  /* legacy */
  --white: #ffffff;
  --black: #131118;
  --black-alpha-096: #131118f5;
  --black-alpha-088: #131118e0;
  --black-alpha-080: #131118cc;
  --black-alpha-072: #131118b8;
  --black-alpha-064: #131118a3;
  --black-alpha-056: #1311188f;
  --black-alpha-048: #1311187a;
  --black-alpha-040: #13111866;
  --black-alpha-032: #13111852;
  --black-alpha-024: #1311183d;
  --black-alpha-020: #13111833;
  --black-alpha-018: #1311182e;
  --black-alpha-016: #13111829;
  --black-alpha-014: #13111824;
  --black-alpha-012: #1311181f;
  --black-alpha-010: #1311181a;
  --black-alpha-008: #13111814;
  --black-alpha-006: #1311180f;
  --black-alpha-004: #1311180a;
  --black-alpha-002: #13111805;
  --gray-000: #fdfcfd;
  --gray-100: #f4f2f4;
  --gray-200: #e9e8ea;
  --gray-300: #dcdbdd;
  --gray-400: #c8c7cb;
  --gray-500: #908e96;
  --gray-600: #6f6e77;
  --gray-700: #504f57;
  --gray-800: #34343a;
  --gray-900: #1a1523;
  --purple-000: #fdfcfe;
  --purple-100: #f5f2ff;
  --purple-200: #e1ddfe;
  --purple-300: #c4bafd;
  --purple-400: #9487f8;
  --purple-500: #6b56f0;
  --purple-600: #523acb;
  --purple-700: #41319b;
  --purple-800: #382e76;
  --purple-900: #211943;

  /* neutral */
  $black: #131118;
  $white: #ffffff;

  /* functional */
  $highlight: #f6ff8b;
  $danger: #ff6c6c;
  $positive: #00d57b;
  $done: #c692ff;
  $active: #6083ff;
  $attention: #ffb762;
  $relate: #d4c98f;

  /* opacity */
  $opacity-100: 1;
  $opacity-096: 0.96;
  $opacity-088: 0.88;
  $opacity-080: 0.8;
  $opacity-072: 0.72;
  $opacity-064: 0.64;
  $opacity-056: 0.56;
  $opacity-048: 0.48;
  $opacity-040: 0.4;
  $opacity-032: 0.32;
  $opacity-024: 0.24;
  $opacity-020: 0.2;
  $opacity-018: 0.18;
  $opacity-016: 0.16;
  $opacity-014: 0.14;
  $opacity-012: 0.12;
  $opacity-010: 0.1;
  $opacity-008: 0.08;
  $opacity-006: 0.06;
  $opacity-004: 0.04;
  $opacity-002: 0.02;
  $opacity-000: 0;

  --black-default: #{rgba($black, $opacity-100)};
  --black-disabled: #{rgba($black, $opacity-064)};
  --black-placeholder: #{rgba($black, $opacity-024)};
  --black-shadow: #{rgba($black, $opacity-010)};
  --black-primary: #{rgba($black, $opacity-096)};
  --black-secondary: #{rgba($black, $opacity-040)};
  --black-tertiary: #{rgba($black, $opacity-016)};
  --black-bg: #{rgba($black, $opacity-004)};

  --white-default: #{rgba($white, $opacity-100)};
  --white-disabled: #{rgba($white, $opacity-064)};
  --white-placeholder: #{rgba($white, $opacity-024)};
  --white-shadow: #{rgba($white, $opacity-010)};
  --white-primary: #{rgba($white, $opacity-096)};
  --white-secondary: #{rgba($white, $opacity-040)};
  --white-tertiary: #{rgba($white, $opacity-016)};
  --white-bg: #{rgba($white, $opacity-004)};

  --highlight-default: #{rgba($highlight, $opacity-100)};
  --highlight-disabled: #{rgba($highlight, $opacity-064)};
  --highlight-placeholder: #{rgba($highlight, $opacity-024)};
  --highlight-shadow: #{rgba($highlight, $opacity-010)};
  --highlight-primary: #{rgba($highlight, $opacity-096)};
  --highlight-secondary: #{rgba($highlight, $opacity-040)};
  --highlight-tertiary: #{rgba($highlight, $opacity-016)};
  --highlight-bg: #{rgba($highlight, $opacity-004)};

  --danger-default: #{rgba($danger, $opacity-100)};
  --danger-disabled: #{rgba($danger, $opacity-064)};
  --danger-placeholder: #{rgba($danger, $opacity-024)};
  --danger-shadow: #{rgba($danger, $opacity-010)};
  --danger-primary: #{rgba($danger, $opacity-096)};
  --danger-secondary: #{rgba($danger, $opacity-040)};
  --danger-tertiary: #{rgba($danger, $opacity-016)};
  --danger-bg: #{rgba($danger, $opacity-004)};

  --positive-default: #{rgba($positive, $opacity-100)};
  --positive-disabled: #{rgba($positive, $opacity-064)};
  --positive-placeholder: #{rgba($positive, $opacity-024)};
  --positive-shadow: #{rgba($positive, $opacity-010)};
  --positive-primary: #{rgba($positive, $opacity-096)};
  --positive-secondary: #{rgba($positive, $opacity-040)};
  --positive-tertiary: #{rgba($positive, $opacity-016)};
  --positive-bg: #{rgba($positive, $opacity-004)};

  --done-default: #{rgba($done, $opacity-100)};
  --done-disabled: #{rgba($done, $opacity-064)};
  --done-placeholder: #{rgba($done, $opacity-024)};
  --done-shadow: #{rgba($done, $opacity-010)};
  --done-primary: #{rgba($done, $opacity-096)};
  --done-secondary: #{rgba($done, $opacity-040)};
  --done-tertiary: #{rgba($done, $opacity-016)};
  --done-bg: #{rgba($done, $opacity-004)};

  --active-default: #{rgba($active, $opacity-100)};
  --active-disabled: #{rgba($active, $opacity-064)};
  --active-placeholder: #{rgba($active, $opacity-024)};
  --active-shadow: #{rgba($active, $opacity-010)};
  --active-primary: #{rgba($active, $opacity-096)};
  --active-secondary: #{rgba($active, $opacity-040)};
  --active-tertiary: #{rgba($active, $opacity-016)};
  --active-bg: #{rgba($active, $opacity-004)};

  --attention-default: #{rgba($attention, $opacity-100)};
  --attention-disabled: #{rgba($attention, $opacity-064)};
  --attention-placeholder: #{rgba($attention, $opacity-024)};
  --attention-shadow: #{rgba($attention, $opacity-010)};
  --attention-primary: #{rgba($attention, $opacity-096)};
  --attention-secondary: #{rgba($attention, $opacity-040)};
  --attention-tertiary: #{rgba($attention, $opacity-016)};
  --attention-bg: #{rgba($attention, $opacity-004)};

  --relate-default: #{rgba($relate, $opacity-100)};
  --relate-disabled: #{rgba($relate, $opacity-064)};
  --relate-placeholder: #{rgba($relate, $opacity-024)};
  --relate-shadow: #{rgba($relate, $opacity-010)};
  --relate-primary: #{rgba($relate, $opacity-096)};
  --relate-secondary: #{rgba($relate, $opacity-040)};
  --relate-tertiary: #{rgba($relate, $opacity-016)};
  --relate-bg: #{rgba($relate, $opacity-004)};
}

:root {
  --font-weight-bold: bold;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: normal;
  --display-font-size: 36px;
  --display-line-height: 44px;
  --headline-font-size: 24px;
  --headline-line-height: 32px;
  --large-title-font-size: 22px;
  --large-title-line-height: 28px;
  --medium-title-font-size: 20px;
  --medium-title-line-height: 24px;
  --small-title-font-size: 18px;
  --small-title-line-height: 24px;
  --large-body-font-size: 16px;
  --large-body-line-height: 20px;
  --medium-body-font-size: 14px;
  --medium-body-line-height: 20px;
  --small-body-font-size: 13px;
  --small-body-line-height: 20px;
}

:root {
  --toast-z-index: 99;
  --place-detail-window-z-index: 15;
  --search-input-z-index: 10;
  --search-terms-box-z-index: 9;
  --bottom-sheet-z-index: 8;
}
