:root {
  /* white */
  --white: #ffffff;

  /* black */
  --black: #131118ff;
  --black-alpha-096: #131118f5;
  --black-alpha-088: #131118e0;
  --black-alpha-080: #131118cc;
  --black-alpha-072: #131118b8;
  --black-alpha-064: #131118a3;
  --black-alpha-056: #1311188f;
  --black-alpha-048: #1311187a;
  --black-alpha-040: #13111866;
  --black-alpha-032: #13111852;
  --black-alpha-024: #1311183d;
  --black-alpha-020: #13111833;
  --black-alpha-018: #1311182e;
  --black-alpha-016: #13111829;
  --black-alpha-014: #13111824;
  --black-alpha-012: #1311181f;
  --black-alpha-010: #1311181a;
  --black-alpha-008: #13111814;
  --black-alpha-006: #1311180f;
  --black-alpha-004: #1311180a;
  --black-alpha-002: #13111805;

  /* gray */
  --gray-000: #fdfcfd;
  --gray-100: #f4f2f4;
  --gray-200: #e9e8ea;
  --gray-300: #dcdbdd;
  --gray-400: #c8c7cb;
  --gray-500: #908e96;
  --gray-600: #6f6e77;
  --gray-700: #504f57;
  --gray-800: #34343a;
  --gray-900: #1a1523;

  /* purple */
  --purple-000: #fdfcfe;
  --purple-100: #f5f2ff;
  --purple-200: #e1ddfe;
  --purple-300: #c4bafd;
  --purple-400: #9487f8;
  --purple-500: #6b56f0;
  --purple-600: #523acb;
  --purple-700: #41319b;
  --purple-800: #382e76;
  --purple-900: #211943;
}

:root {
  --font-weight-bold: bold;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: normal;
  --display-font-size: 36px;
  --display-line-height: 44px;
  --headline-font-size: 24px;
  --headline-line-height: 32px;
  --large-title-font-size: 22px;
  --large-title-line-height: 28px;
  --medium-title-font-size: 20px;
  --medium-title-line-height: 24px;
  --small-title-font-size: 18px;
  --small-title-line-height: 24px;
  --large-body-font-size: 16px;
  --large-body-line-height: 20px;
  --medium-body-font-size: 14px;
  --medium-body-line-height: 20px;
  --small-body-font-size: 13px;
  --small-body-line-height: 20px;
}
