@import "/styles/main.scss";

.emptySearchTerm {
  @include text("title.large/600");
  cursor: pointer;
  flex-direction: row;
  display: flex;
  border-top: 1px solid color("black");
  padding: 14px 0;

  & > strong {
    @include text("title.large/600");
  }

  & > p {
    @include text("title.large/500");
    margin: 0;
  }
}
